.chat_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}
.history {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
}
.history span {
    font-weight: 500;
    margin: 30px 5px 10px 5px;
    padding: 5px;
    border-bottom: 1px solid var(--smoke);
}
.history .past_conv {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
}
.history .past_conv a {
    padding: 10px 10px;
    margin: 5px;
    font-size: 16px;
    background-color: var(--charcoal);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s ease;
}
.history .new_chat button {
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    background-color: var(--charcoal);
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.history .new_chat {
    display: flex;
    justify-content: center;
}
.header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header div {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.chats .human_message {
    display: flex;
    justify-content: end;
    margin: 30px 0px;
}
.chats .human_message div {
    margin-bottom: 10px;
    padding: 20px 25px;
    border-radius: 20px 20px 0px 20px;
    background-color: var(--charcoal);
}
.chats .ai_message {
    margin-bottom: 10px;
    padding: 10px 25px 10px 40px;
}
.interactive_chat .chats {
    padding: 20px;
    height: 79vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--charcoal);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--smoke);
}

.interactive_chat .input_area {
    padding: 0px 10px;
}
.welcome_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 100px;
}
.input_area {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}
.input_area form {
    display: flex;
    width: 100%;
}
.input_area input {
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    background-color: var(--charcoal);
    outline: none;
    border: 2px solid var(--earthen);
}
.input_area button {
    margin-left: 5px;
    height: 50px;
    padding: 0 10px;
    font-size: 16px;
    background-color: var(--charcoal);
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.input_area button:hover,
.history .new_chat button:hover,
.history .past_conv a:hover {
    background-color: var(--smoke);
    color: var(--charcoal);
}
